<ion-view>
  <ion-nav-title>
        <h1><i class="icon ion-android-home"></i></h1>
  </ion-nav-title>
  <ion-content>
    <h1>Benvenuto</h1>
    <ul class="list">
      <li class="item">
        <a class="button button-block button-positive icon icon-left ion-person" href="#/tab/signin">SignIn</a>  
      </li>
      <li class="item">
        <a class="button button-block button-positive icon icon-left ion-person-add" href="#/tab/register">Register</a>  
      </li>
    </ul>
  </ion-content>
</ion-view>
